html {
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
}


.title, .hidden-elements {
    background-color: beige;
    border: 1px solid black;
}

.box-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Add this line to vertically center */
}

.box1 {
    width: 100px;
    height: 100px;
    background-color: gold;
    padding: 10px;
    border: 10px solid orange;
    box-sizing: content-box;  
}

.box2 {
    width: 100px;
    height: 100px;
    background-color: gold;
    padding: 10px;
    border: 10px solid orange;
    box-sizing: border-box;
}

.boxes {
    border: 3px solid lightgrey;
    margin-bottom: 60px;
    position: relative;
}

.box{
    height: 5rem;
    width: 5rem;
}

.box-1 {
    background-color: gold;
    position: static;
}

.box-2 {
    background-color: tomato;
    position: static;
}

.box-3 {
    background-color: dodgerblue;
    position: static;
}

.box2-1 {
    background-color: gold;
    position: relative;
    right: 5rem;
    top: 10rem;
}

.box2-2 {
    background-color: tomato;
    position: relative;
    right: -20rem;
    bottom: 100px;
}

.box2-3 {
    background-color: dodgerblue;
    position: relative;
    left: 60rem;
    bottom: 130px;
}

.box3-1 {
    background-color: gold;
    position: absolute;
    top: 0px;
    left: 0px;
}

.box3-2 {
    background-color: tomato;
    position: absolute;
    bottom: -20px;
    left: 25px;
}

.box3-3 {
    background-color: dodgerblue;
    position: absolute;
    top: 10px;
    left: 70rem;
}

.box4-1 {
    background-color: gold;
    position: fixed;
    top: 0px;
    left: 0px;
}

.box4-2 {
    background-color: tomato;
    position: fixed;
    top: 0rem;
    right: 0px;
}

.box4-3 {
    background-color: dodgerblue;
    position: fixed;
    top: 0rem;
    right: 0px;
}

.flexContainer {
    border: 3px solid lightgreen;
    display: flex;
}

.flexContainer2 {
    border: 3px solid lightgreen;
    display: flex;
    flex-direction: row-reverse;
}

.flexContainer3 {
    border: 3px solid lightgreen;
    display: flex;
    justify-content: flex-end;
}

.flexContainer4 {
    border: 3px solid lightgreen;
    display: flex;
    justify-content: center;
}

.flexContainer5 {
    border: 3px solid lightgreen;
    display: flex;
    justify-content: space-evenly;
}

.flexContainer6 {
    border: 3px solid lightgreen;
    display: flex;
    justify-content: space-between;
}

.flexContainer7 {
    border: 3px solid lightgreen;
    display: flex;
    justify-content: space-around;
}

.flexBox {
    height: 5rem;
    width: 5rem;
    background-color: beige;
    margin: 1rem;
    border: 1px solid black;
}











