html {
    margin: auto;
    text-align: center;
}

.title {
    background-color: beige;
    border: 1px solid black;
}


.hidden-elements {
    background-color: beige;
    border: 1px solid black;

}

















